# Ignore appsettings.json
appsettings.json
/bin/Debug/GraphAttachmentDownloader.1.0.0.nupkg
/bin/Debug/net9.0
/obj/Debug/net9.0
/obj/Debug/GraphAttachmentDownloader.1.0.0.nuspec
/bin/Debug/net8.0
/obj/Debug/net8.0
/.vs/GraphAttachmentDownloader/CopilotIndices/17.14.827.52834
/.vs/GraphAttachmentDownloader
/.vs/GraphAttachmentDownloaderSdk/CopilotIndices/17.14.827.52834
/.vs/GraphAttachmentDownloaderSdk/FileContentIndex
